<!-- todo/templates/todo/todo_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>To-do List!</title>
</head>
<body>
    <h1>Todo List</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.text }}
        <button type="submit" name="add_todo">추가</button>
    </form>
    <!-- Todo 섹션 -->
    <h2>to-do!</h2>
    <ul>
        {% for todo in todos %}
            {% if not todo.completed %}
                <li>
                    <form method="post">
                        {% csrf_token %}
                        <input type="checkbox" name="complete_todo" value="{{ todo.id }}" id="todo_{{ todo.id }}" onchange="this.form.submit()">
                        <label for="todo_{{ todo.id }}">{{ todo.title }}</label>
                    </form>
                </li>
            {% endif %}
        {% endfor %}
    </ul>


</body>
</html>
